wp-admin
wp-includes

!wp-content
wp-content/*

!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/wolfsbane-admin
wp-content/plugins/wolfsbane-admin/*.zip
wp-content/plugins/wolfsbane-admin/Upload

!wp-content/themes
wp-content/themes/*
!wp-content/themes/wolfsbanetheme
wp-content/themes/wolfsbanetheme/*.zip
wp-content/themes/wolfsbanetheme/audio
wp-content/themes/wolfsbanetheme/**/*/audio

**/*/node_modules
**/*/.sass-cache
**/*/wwwroot