///*----------------------------------*\
//  #ALIASES
//\*----------------------------------*/

// Map some nicer/shorter aliases to make things a little easier to work with.

$unit: $global-spacing-unit;
$unit-xs: $global-spacing-unit-xs;
$unit-s: $global-spacing-unit-s;
$unit-l: $global-spacing-unit-l;
$unit-xl: $global-spacing-unit-xl;
