.c-works {
    display: flex;
    flex-wrap: wrap;
    color: $color-page-text-alt;

    .o-page--subpage & {
        color: $color-page-text;
        padding-top: $global-spacing-unit-xl;
    }

    %value-proposition {
        flex-grow: 1;
        flex-shrink: 1;
        width: 6 / $grid-columns * 100%;
        flex-basis: 6 / $grid-columns * 100%;

        // padding-bottom: $global-spacing-unit-xl;
        // padding-left: $global-spacing-unit-l;
        // padding-right: $global-spacing-unit-l;
   
    }

    &__beats {
        @extend %value-proposition;

        padding-left: $global-spacing-unit;
        padding-right: $global-spacing-unit;
    }

    &__songs {
        @extend %value-proposition;

        padding-left: $global-spacing-unit;
        padding-right: $global-spacing-unit;
    }

    &__title {
        &--left-align {
            text-align: left;
        }

        &--right-align {
            text-align: right;
        }
    }
}

@media only screen and (max-width: 960px) {
    .c-works {
        // max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        &__beats {
            @extend %value-proposition;

            margin-bottom: $global-spacing-unit-l;
            padding-left: $global-spacing-unit;
            padding-right: $global-spacing-unit;
        }

        &__songs {
            @extend %value-proposition;

            padding-left: 0px;
            padding-right: $global-spacing-unit;
        }

        /* &__title {
            &--left-align {
                text-align: center;
            }

            &--right-align {
                text-align: center;
            }
        } */
    }
}

@media only screen and (max-width: 800px) { // map-get($typography-breakpoints, bp5)) {
    .c-works {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;

        &__beats {
            width: 100% !important;
            flex-basis: 100% !important;
            padding-left: $global-spacing-unit;
            padding-right: $global-spacing-unit;
        }

        &__songs {
            width: 100% !important;
            flex-basis: 100% !important;
            padding-left: $global-spacing-unit;
            padding-right: $global-spacing-unit;
        }

        &__title {
            &--left-align {
                text-align: center;
            }

            &--right-align {
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 730px) {
    .c-works {
        &__title {
            @include font-size-proxy("l");
        }
    }
}

@media only screen and (max-width: 540px) {
    .c-works {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        &__beats {
            padding-left: $global-spacing-unit;
            padding-right: $global-spacing-unit;
        }

        &__songs {
            padding-left: $global-spacing-unit;
            padding-right: $global-spacing-unit;
        }
    }
}
